.items {
    width: 40%;
    max-height: 500px;
    overflow: scroll;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.item {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    min-width: 350px;
    margin: 5px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}