.Modal {
    position: fixed;
    color: red;
    z-index: 500;
    background-color: #f8d7da;
    height: 35%;
    text-align: center;
    width: 100%;
    border: 1px solid #f5c6cb;
    box-shadow: 1px 1px 1px black;
    padding: 100px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
